div#container {
    min-width: 100%;
}
@media(max-width:40em) {
    div#sidebarwrapper {
        display: none;
    }
    div.memberwrapper {
        display: none;
    }
}
@media(min-width:400em) {
    div#sidebarwrapper {
        display: block;
    }
    div.memberwrapper {
        display: block;
    }
}
